.Button {
	background-color: #4519f7;
	color: white;
	border: none;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
}

.Button:hover {
	background-color: #3415b7;
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}